{% extends "base-list.html" %}

{% block list %}

<h1>Quotes</h1>
<ul>
{% for quote in object_list %}

    <li>
        <a href="{% url "quote-detail" pk=quote.id %}">"{{ quote.text }}"</a> -
        {% if quote.author %}
            <a href="{% url "author-detail" pk=quote.author.id %}">{{ quote.author.name }}</a>
        {% else %}
            Unknown Author
        {% endif %}
    </li>

{% empty %}
    <li>No quotes yet.</li>
{% endfor %}
</ul>

<a href="{% url "quote-create" %}">Create New</a>

{% endblock list %}
